body {
  margin: 0;
  padding: 0;
  background: rgb(0, 34, 99);
  background: linear-gradient(
    45deg,
    rgba(0, 34, 99, 1) 0%,
    rgba(73, 0, 73, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  position: relative;
  display: flex;
  gap: 5px;
}
.interface {
  border: 2px solid #0f66ac;
  background-color: #062f72;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Mono", monospace;
}
.tetramino {
  color: white;
  display: flex;
  flex-direction: column;
  height: 140px;
  font-size: 20px;
}
.nextTetramino {
  height: 100px;
  width: 160px;
}
.state {
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.control {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
}
.pause {
  width: 50px;
  height: 50px;
  background-color: tomato;
  cursor: pointer;
}
.restart {
  width: 50px;
  height: 50px;
  background: url(./pngegg.png) no-repeat;
  background-size: contain;
  cursor: pointer;
  background-color: tomato;
}
.node {
  border: 1px solid #1d3f6c61;
  box-sizing: border-box;
}
